<!DOCTYPE html>
<html>
<head>
	<title>SHOP</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="#">SHOPPERS ZONE</a></li>
			<%pages.forEach((page)=>{
				if(page.slug=="home"){%>
					<li><a href="/"><%= page.title%></a></li>
				<%}
				else{%>

				<li><a href="<%= page.slug%>"><%= page.title%></a></li>
				<%}%>
			<%})%>
			<%if(typeof email!=="undefined"){%>
			<li><a href="/cart/checkout">Cart(<%=cart%>)</a></li>
			
				<li><a href="/user/logout">Hi&nbsp;<%=name%>&nbsp;(logout)&nbsp;</a></li>
				<%}else{%>
			<li><a href="/user/login">Login</a></li>
			<li><a href="/user/register">Register</a></li>
					<%}%>
		</ul>
	</div>

	<br><br>

