<!DOCTYPE html>
<html>
<head>
	<title>SHOP</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a class="a" href="#">SHOPPERS ZONE</a></li>
			<%pages.forEach((page)=>{
				if(page.slug=="home"){%>
					<li><a  class="a" href="/"><%= page.title%></a></li>
				<%}
				else{%>

				<li><a  class="a" href="<%= page.slug%>"><%= page.title%></a></li>
				<%}%>
			<%})%>
			<%if(typeof email!=="undefined"){%>
			<li><a class="a"  href="/cart/checkout">Cart(<%=cart%>)</a></li>
			
			
			<li><a class="a"  href="/user/logout">Logout</a></li>
			<li><a class="a"  href="/profile/<%=id%>"><%=name%></a></li>
			<%}else{%>
			<li><a class="a"  href="/user/login">Login</a></li>
			<li><a  class="a" href="/user/register">Register</a></li>
					<%}%>
		</ul>
	</div>

	<br><br>
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-md-3">
				<h3>Categories</h3>
				<ul class="list-group">
					<li class="list-group-item" id="all"><a class="l"  href="/products">All products</a></li>
					<% categories.forEach(function(c){ %>
						<li class="list-group-item " id="<%= c.title%>"><a class="l" href="/products/<%= c.title%>"><%= c.title %></a></li>
					<% }); %>
				</ul>
				<br>
				<br>
			</div>
			<div class="col-xs-12 col-md-1"></div>
			<div class="col-xs-12 col-md-8 gj">
				
